body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    width: 60%;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #116414;
}
